@font-face {
  font-family: "roboto-900";
  src: url(../../assets/Fonts/roboto-900.woff);
}

@font-face {
  font-family: "roboto-900";
  src: url(../../assets/Fonts/roboto-900.woff);
}

.modal__registration-successfull-title {
}

.modal__registration-successfull .modal__content {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.modal__signin-button {
  border: none;
  background-color: white;
  color: #2f71e5;
  font-size: 18px;
  font-weight: 400;
  font-family: inter;
  line-height: 22px;
}
