@font-face {
  font-family: "roboto400reg";
  src: url(../../assets/Fonts/roboto-400.woff);
}

@font-face {
  font-family: "roboto700";
  src: url(../../assets/Fonts/roboto-700.woff);
}

.saveNews {
  max-width: 1200px;
  margin: 0 auto;
}

.saveNews__container {
  padding-top: 3em;
}

.saveNews__title {
  font-family: "roboto400reg", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b2280;
  padding-top: 40px;
  padding-left: 104px;
  margin: 0;
}
.saveNews__subtitle {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin-top: 28px;
  margin-left: 104px;
  text-wrap: auto;
}

.saveNews__keyword {
  font-family: "roboto700reg", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin: 30px 104px 56px;
}

.saveNews__keyword-description {
  font-family: "roboto700", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
}

.keyword {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  top: 20px;
  left: 20px;
  position: absolute;
}

.results__list li {
  width: 30%;
}

@media (min-width: 550px) and (max-width: 880px) {
  .saved-news {
    overflow-y: scroll;
    height: calc(100vh - 100px);
  }
  .saveNews__subtitle {
    padding-left: 40px;
    padding-top: 16px;
    margin: 0;
  }

  .saveNews__title {
    margin: 0;
    padding: 24px 40px 0;
  }

  .saveNews__keyword {
    padding: 16px 0 32px 40px;
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .results__list li {
    width: 100%;
  }
  .saveNews__title {
    margin: 0;
    padding: 8px 16px 0;
  }

  .saveNews__subtitle {
    padding-left: 16px;
    padding-top: 16px;
    margin: 0;
  }

  .saveNews__keyword {
    padding-left: 16px;
    padding-top: 50px;
    padding-bottom: 32px;
    margin: 0;
  }
}
