@font-face {
  font-family: "roboto400reg";
  src: url(../../assets/Fonts/roboto-400.woff);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  text-align: center;
  padding: 10px 0;
  color: #555;
  width: 100vw;
}

.footer__text {
  font-family: "roboto400reg", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-left: 104px;
}

.footer__link {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer__links {
  display: flex;
  align-items: center;
}

.footer__home-link {
  color: black;
  font-family: "roboto400reg", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  margin-top: 17px;
  padding: 0;
}

.footer__tripleten-link {
  color: black;
  padding: 0 40px;
  font-family: "roboto400reg", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.footer__tripleten-hyperlink {
  text-decoration: none;
  color: black;
}

.footer__fb-image {
  width: 20px;
  height: 20px;
  padding: 28px 104px 28px 0;
}

.footer__github-image {
  width: 20px;
  height: 20px;
  padding: 28px 24px 28px 0;
}

@media screen and (min-width: 550px) and (max-width: 880px) {
  footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer {
    padding: 0;
  }
  .footer__text {
    padding-left: 40px;
  }
  .footer__fb-image {
    padding-right: 40px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    padding: 128px 0 0;
  }

  .footer__link {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
  }

  .footer__links {
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding: 0 16px;
  }

  .footer__tripleten-link {
    padding: 0;
  }

  .footer__text {
    font-family: "roboto400reg", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    padding-left: 0px;
  }

  .footer__spacer {
    flex-grow: 1;
  }

  .footer__fb-image {
    padding: 0;
    padding-top: 20px;
  }

  .footer__github-image {
    padding: 20px 24px 0 0;
  }
}
