@font-face {
  font-family: "robotoslab400reg";
  src: url(../../assets/Fonts/robotoslab400reg.woff);
}

.saved-card__content {
  background-color: white;
  color: black;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.saved-card__date {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 17px;
  margin-left: 24px;
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  color: #b6bcbf;
}

.saved-card__title {
  font-family: "robotoslab400reg", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  padding-left: 27px;
}

.saved-card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1a1b22;
  padding: 0 24px 84px;
  height: 66px;
}

.saved-card__source {
  padding: 24px;
  color: #b6bcbf;
  font-family: "robotoslab400reg", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
}

.new .saved-card {
  border-radius: 8px;
  margin: 0 0.5%;
}

.saved-card__image-container {
  position: relative;
  width: 100%;
  height: 272px;
}

.saved-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.delete__icon {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin: auto;
  background-position: center;
}

.delete__button {
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: white;
  border-radius: 8px;
}

.delete__button:hover::after {
  content: "Remove from saved";
  position: absolute;
  top: 2px;
  right: -30px;
  transform: translateX(-50%);
  background-color: white;
  color: black;
  padding: 11px 20px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  text-align: center;
}

.delete__icon:hover {
  cursor: pointer;
  filter: invert(1);
}

.showMore__button {
  background-color: white;
  top: 72%;
  left: 50%;
  width: 288px;
  height: 64px;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  margin: auto;
  display: block;
}

.showMore__button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}

@media screen and (max-width: 880px) {
  .saved-card__content {
    background-color: white;
    color: black;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .saved-card__image {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
