@font-face {
  font-family: "robotoslab400reg";
  src: url(../../assets/Fonts/robotoslab400reg.woff);
}

@font-face {
  font-family: "roboto400reg";
  src: url(../../assets/Fonts/roboto-400.woff);
}

.home__container {
  position: relative;
  width: 100%;
}

.search__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "roboto400reg", sans-serif;
}

.home__image {
  width: 100%;
  height: 568px;
  background-color: #686a6f;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home__title {
  font-family: "robotoslab400reg", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 288px;
  color: #ffffff;
  margin-top: 80px;
}

.home__description {
  font-family: "robotoslab400reg", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  height: 24px;
  width: 608px;
  text-wrap: nowrap;
  margin-top: 32px;
}

.paragraph-break {
  display: block;
  margin-bottom: 1em;
}

.search__results {
  padding-bottom: 40px;
  background: #f6f4f4;
}

.noResults__container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 86px;
}

.notfound__image {
  width: 82px;
  height: 82px;
}

.search__results-list {
  display: flex;
  flex-direction: row;
  gap: 14px;
  padding: 60px 102px;
}

.search__results-title {
  font-family: "robotoslab400reg", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 80px 104px 60px;
  font-size: 40px;
  line-height: 46px;
}

.search__results-container .news-card {
  width: 32%;
}

.search__input {
  width: 608px;
  height: 64px;
  bottom: 30%;
  left: 20%;
  border-radius: 100px;
  border: 1px;
  margin-top: 432px;
  margin-bottom: 80px;
  outline: none;
  cursor: pointer;
  font-size: 30px;
  font-family: "roboto400reg", sans-serif;
  padding-left: 20px;
}

.search__input-button {
  position: absolute;
  right: 0px;
  transform: translateY(-50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  width: 168px;
  height: 67px;
  border-radius: 100px;
  margin-top: 465px;
}

.search__input-button:hover {
  background-color: #0056b3;
}

.home__topHalf {
  position: relative;
}

.about__container {
  position: relative;
  display: flex;
  padding: 80px 0;
}

.about__details-container {
  flex-grow: 1;
  margin-left: 32px;
  margin-top: 40px;
}

.about__title {
  top: 131px;
  left: 620px;
  font-family: "robotoslab400reg", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 46px;
  text-wrap: nowrap;
}

.about__description {
  top: 201px;
  left: 624px;
  width: 100%;
  height: 201px;
  font-family: "roboto400reg", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: start;
  width: 80%;
  margin-bottom: -111px;
}

.about__image {
  border-radius: 1000px;
  margin-left: 104px;
  flex-grow: 0;
  width: 464px;
  height: 464px;
}

@media screen and (min-width: 400px) and (max-width: 880px) {
  .home__image {
    width: 768px;
    height: 400px;
    background-color: #86888f;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .home__title {
    font-size: 36px;
    line-height: 40px;
    width: 385px;
    height: 80px;
    padding-top: 76px;
  }

  .home__description {
    line-height: 24px;
    font-size: 18px;
    width: 452px;
    height: 40px;
    text-wrap: wrap;
    padding-top: 16px;
    padding-left: 60px;
  }

  .search__input {
    width: 448px;
    height: 56px;
    margin: 296px 48px 0 48px;
  }
  .search__input-button {
    margin-top: 325px;
    width: 160px;
    height: 58px;
  }

  .search__results-title {
    padding: 40px 40px 32px;
  }

  .about__details-container {
    margin-top: -58px;
  }

  .about__image {
    width: 232px;
    height: 232px;
    margin-left: 40px;
    margin-bottom: 61px;
  }
  .about__title {
    width: 424px;
    height: 34px;
    line-height: 40px;
  }

  .about__description {
    width: 424px;
  }

  .search__results {
    width: 768px;
  }

  .search__results-list {
    padding: 32px 40px;
    gap: 8px;
  }
  .showMore__button {
    margin-bottom: 32px;
    width: 224px;
  }

  .news-card__content {
    width: 224px;
    height: 420px;
  }

  .news-card__title {
    font-size: 22px;
    line-height: 24px;
  }

  .news-card__source {
    padding: 12px 16px;
    line-height: 22px;
    letter-spacing: 0.4px;
  }
}

@media screen and (max-width: 400px) {
  .home__image {
    width: 100%;
    height: 576px;
    background-color: #d1d2d6;
    background-blend-mode: multiply;
  }

  .about__image-container {
    margin-top: 0;
  }
  .home__title {
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 370px;
    padding-top: 80px;
    width: 285px;
  }

  .home__description {
    font-family: "robotoslab400reg", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding-bottom: 32px;
    height: 72px;
    width: 288px;
    text-wrap: wrap;
  }

  .search__results-container {
    padding-top: 24px;
  }

  .search__results-title {
    padding: 32px 16px 0;
    font-size: 30px;
    line-height: 34px;
  }

  .search__input {
    width: 288px;
    height: 56px;
    bottom: 30%;
    left: 20%;
    padding: 0 20px;
    border-radius: 100px;
    border: 1px;
    margin-top: 307px;
    margin-bottom: 32px;
    outline: none;
    font-size: 30px;
  }

  .search__input-button {
    position: absolute;
    right: 0px;
    transform: translateY(-50%);
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    width: 100%;
    height: 56px;
    border-radius: 100px;
    margin-top: 426px;
  }

  .search__results-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
  }
  .about__container {
    flex-direction: column;
    padding: 0 16px;
  }

  .about__title {
    margin: 24px 16px 16px;
  }

  .about__description {
    text-align: start;
    font-size: 18px;
    line-height: 24px;
    width: 95%;
    padding: 16px;
  }

  .about__details-container {
    margin-left: 0px;
    margin-top: 0px;
  }

  .about__image {
    width: 272px;
    height: 272px;
    border-radius: 1000px;
    margin: 0;
    margin-top: 32px;
  }

  .search__results-container .news-card {
    width: 90%;
    height: auto;
  }
}
