@font-face {
  font-family: "roboto400reg";
  src: url(../../assets/Fonts/roboto-400.woff);
}

@font-face {
  font-family: "roboto700";
  src: url(../../assets/Fonts/roboto-700.woff);
}

.saveNews__container {
  padding-top: 3em;
}

.saveNews__title {
  font-family: "roboto400reg", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b2280;
  padding-top: 40px;
  padding-left: 104px;
}
.saveNews__subtitle {
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 28px;
  margin-left: 104px;
  text-wrap: auto;
}

.saveNews__keyword {
  font-family: "roboto700reg", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  margin-left: 104px;
}

.saveNews__keyword-description {
  font-family: "roboto700", sans-serif;
  font-weight: 700;
  line-height: 24px;
  font-size: 18px;
}

.keyword {
  padding: 8px 20px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  top: 20px;
  left: 20px;
  position: absolute;
}
