@font-face {
  font-family: "robotoslab400reg";
  src: url(../../assets/robotoslab400reg.woff);
}

@font-face {
  font-family: "roboto400reg";
  src: url(../../assets/roboto-400.woff);
}

.home__container {
  position: relative;
}

.search__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home__image {
  width: 100%;
  height: 576px;
  background-color: #d1d2d6;
  background-blend-mode: multiply;
}

.home__title {
  font-family: "robotoslab400reg";
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 288px;
  color: #ffffff;
}

.home__description {
  font-family: "robotoslab400reg";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  white-space: nowrap;
  padding-bottom: 32px;
  width: 608px;
  height: 24px;
}

.search__results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f6f4f4;
}

.search__results-container .news-card {
  width: 32%;
}

.search__input {
  width: 608px;
  height: 64px;
  bottom: 30%;
  left: 20%;
  border-radius: 100px;
  border: 1px;
  margin-top: 432px;
  margin-bottom: 80px;
  outline: none;
  cursor: pointer;
  font-size: 30px;
}

.search__input-button {
  position: absolute;
  right: 0px;
  transform: translateY(-50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  width: 168px;
  height: 67px;
  border-radius: 100px;
  margin-top: 465px;
}

.search__input-button:hover {
  background-color: #0056b3;
}

.home__topHalf {
  position: relative;
}

.about__container {
  position: relative;
}

.about__title {
  position: absolute;
  top: 131px;
  left: 620px;
  font-family: "robotoslab400reg", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  text-wrap: nowrap;
}

.about__description {
  position: absolute;
  top: 201px;
  left: 624px;
  width: 600px;
  height: 201px;
  font-family: "roboto400reg", sans-serif;
  font-weight: 400px;
  font-size: 18px;
  line-height: 24px;
}
.about__image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  margin-top: 80px;
  margin-left: 104px;
}
